*.code-workspace
.git/
.vscode/

# LaTeX auxiliary files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.cut
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.mw
*.nav
*.out
*.ptc*
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Backup files
*~
*.bak
